.wrapper__main {
  justify-items: center;
}
.marginTop {
  margin-top: 20px;
}
address {
  text-indent: 20px;
  text-align: center;
  margin-top: 20px;
}
h3 {
  margin-bottom: 30px;
  text-align: center;
}
ul {
  margin-top: 20px;
}
ul li {
  display: inline;
  margin-right: 5px;
}
img {
  width: 30px;
}
.done {
  display: none !important;
}
.container {
  padding: 0 15px;
  margin: 15px;
  max-width: 560px;
}
/*Create mixins*/
.rounded_top {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.form__wrapper {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  /*Use mixins*/
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.form__wrapper__feedback__row {
  display: flex;
}
@media (min-width: 576px) {
  .form__wrapper__feedback__row > .form__wrapper__feedback__group {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    /*Use escaping in LESS*/
    max-width: calc(100% - 100px);
    padding-right: 5px;
    padding-left: 5px;
  }
}
.form__wrapper__feedback__group {
  margin-bottom: 1rem;
}
.form__wrapper__feedback__control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.form__wrapper__feedback__control:focus {
  color: #495057;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
textarea.form__wrapper__feedback__control {
  overflow: auto;
  resize: vertical;
  height: auto;
}
.form__wrapper__feedback__submit {
  text-align: right;
}
/*Create mixins with argument*/
/*Create mixins with lots of arguments*/
.submitButton {
  /*Use mixins with lots of arguments*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #485b6f;
  border: 1px solid #485b6f;
  padding: 10px;
  color: #fff;
}
.submitButton:hover {
  /*Import and usge variable, use color function in LESS*/
  background: #778ea6;
  border: 1px solid #5c748e;
}
.iframe__footer {
  /* Usge position for task 3 poin 4*/
  position: fixed;
  bottom: 0;
}
