@import url('../scr/css/main__css.css');

.wrapper__main{
    display: grid;

}

h2 {
    margin-bottom: 30px;
    text-align: center;
}

.wrapper__description {
    text-indent: 20px;
}

.header__iframe{
    height: 120px;
}


/*use position absolute*/
.wrapper__header__menu{
    line-height: 70px;
    position: absolute;
    width: 500px;
    top: 20px;
    right: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper__img{
    float: left;
    margin-right: 15px;
}
.wrapper__img img{
    height: 250px;
    
}