@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
*, ::after, ::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  /*Import and usge variable in SCSS*/
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
}

h1, h2, h3, h4 {
  /*Import and usge variable in SCSS*/
  color: #191152;
}

.wrapper__main {
  margin: auto;
  display: -ms-grid;
  display: grid;
}

.header__iframe {
  /*Import and use variable in SCSS*/
  height: 120px;
  position: absolute;
}

.wrapper__header__nav {
  padding: 20px 20px 0 20px;
  width: 100%;
  top: 0;
  position: sticky;
}

.wrapper__header__menu {
  margin-left: 50%;
  width: 500px;
  line-height: 70px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.iframe__footer {
  height: 40px;
  margin-top: 30px;
}