@media screen and (max-width: 1600px) {
    .wrapper__header, .wrapper__main, .wrapper__footer {
        width: 1000px;
    }


} 

@media screen and (max-width: 1200px) {
    .wrapper__header, .wrapper__main, .wrapper__footer {
        width: 1000px;
    }
} 

@media screen and (max-width:  992px) {
    .wrapper__header, .wrapper__main, .wrapper__footer  {
        width: 500px;
    }
    main{
     flex-direction: column;
    }
    .wrapper__change-table{
        position:static;
        margin-left: 0;
    }
} 